
body{
    font-family: "Trirong", serif;
}
table {
    width: 100%;
    margin-bottom: 1rem;
    table-layout: fixed;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
    border: 1px solid black;
  }

table, table td {
    padding:0;
    margin: 0;
    text-align: center;
   
    word-wrap: break-word;
}

.table-cell {
  border: 0; /* Změňte hodnotu dle potřeby */
}

.offcanvas-tittle{
  text-align: center;
}
.control{
  text-align: center;
  font-size: 20px;
 
  border: 2px solid white;
  background-color: antiquewhite;
}
.help{
    z-index: -1;
  position: relative;
  display: block;
  margin: auto;
  padding: 2rem;
}
.btn-controller{
 
  border-radius: 20%;
  position: relative;
  display: flex;
  margin: auto;
  padding: 2rem;
}
.btn-circle {
  width: 50px;
  height: 50px;
  border-radius: 10%;
  transition: 0.2s ease;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  border: solid white;
}
.btn-circle:hover{
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.5);
  transition: 0.2s;
  border: solid white;
  transform: scale(1.03);
}
.btn-circle:focus{
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  border: solid white;
  transform: scale(1.05);
}


.controller-help{
  font-size: 3rem;
}
.controller{
  display: inline;
}
.btn-close{
  color: aliceblue;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.nav-bar{
  position: fixed;
  
  background-image: linear-gradient(rgba(53, 53, 53, 0.5), #4b4b4b, rgba(53, 53, 53, 0.5));

  
  width: 100%;
  padding: 1rem;
  height: 7Rem;
  display: flex;
  margin: auto;
  
}
#freeze {
    font-size: 5rem;   
}


.show {
    transition: opacity 1s ease-out;
    opacity: 1;
    display: flex;
    color: aliceblue;
    width: 100%;
    height: 100%;
    position: fixed;
    margin: auto;
    justify-content: center; 
    align-items: center; 
    background-color: rgba(0, 0, 0, 0.8); 

  }
  
  .hide {
    display: none;
    pointer-events: none;

    transition: opacity 1s ease-out;

  }
.control{
    
    display: inline;
   
}
.scales{
    position: relative;
    display: flex;
   
}
.container {
    margin-top: 6rem;
    margin-bottom: 2px;
    background-color: var(--dark);
    color: var(--white);
    overflow-y: auto;
  }
  
  .p-3 {
    padding: 0.75rem;
  }
  
  .mb-2 {
    margin-bottom: 0.5rem;
  }
  
  .bg-dark {
    background-color: var(--dark);
  }
  
  .text-white {
    color: var(--white);
  }

  @media (min-width: 600px){
  .nav-bar{
    position: fixed;
   
    background-color: rgba(0, 0, 0, 0.5);
    
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
    height: 7Rem;
    display: flex;
    margin: auto;
    
  }
}
@media (min-width: 1110px){
  .nav-bar{
    position: fixed;
   
    background-color: rgba(0, 0, 0, 0.5);
    
    
    padding-left: 30%;
    padding-right: 30%;
    height: 7Rem;
    display: flex;
    margin: auto;
    
  }
}
